<div class='container'>
    <h2 class='pull-left m-3'>会員情報編集</h2>
     <div class="row">
       <div class="col-9 mx-auto mt-3">
          <%= form_for(@customer, url: {controller: 'customers', action: 'update'}) do |f| %>
          <table>
          <tr>
            <th><%= f.label :名前 %></th>
            <td><%= f.text_field :last_name,autoforcus: true, autocomplete: "name", placeholder: "(姓)" , class: "form-control mt-3 mx-5" %></td>
            <td><%= f.text_field :first_name,autoforcus: true, autocomplete: "name",  placeholder: "(名)", class: "form-control mt-3 mx-5" %></td>
          </tr>

          <tr>
            <th><%= f.label :フリガナ %></th>
            <td><%= f.text_field :last_name_kana,autoforcus: true, autocomplete: "name",  placeholder: "(セイ)" , class: "form-control mt-3 mx-5" %></td>
            <td><%= f.text_field :first_name_kana,autoforcus: true, autocomplete: "name",  placeholder: "(メイ)", class: "form-control mt-3 mx-5" %></td>
          </tr>

          <tr>
            <th><%= f.label :郵便番号（ハイフンなし） %></th>
            <td><%= f.text_field :postcode, autofocus: true, autocomplete: "postal-code", class: "form-control mt-3 mx-5" %></td>
          </tr>

          <tr>
            <th><%= f.label :住所 %></th>
            <td><%= f.text_field :address, autofocus: true, autocomplete: "street-address", class: "form-control mt-3 mx-5" %></td>
          </tr>

          <tr>
            <th><%= f.label :電話番号（ハイフンなし） %></th>
            <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "tel", class: "form-control mt-3 mx-5" %></td>
          </tr>

          <tr>
            <th><%= f.label :メールアドレス %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-3 mx-5" %></td>
          </tr>

          <tr>
            <th></th>
            <td><%= f.submit :'編集内容を保存', class: 'btn btn-success mt-3 mx-5' %></td>
          <% end %>
            <td><%= link_to confirm_customers_path, class: "btn btn-danger mt-3 mx-5" do %>
              <i class="fas fa-user-cog">退会する</i>
            <% end %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>