<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>会員情報編集</h2>
    <%= form_for(@customer, url: {controller: 'customers', action: 'update'}) do |f| %>
      <div class="form-group">
        <%= f.label :氏 %>
        <%= f.text_field :last_name, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :名 %>
        <%= f.text_field :first_name, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :セイ %>
        <%= f.text_field :last_name_kana, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :メイ %>
        <%= f.text_field :first_name_kana, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :郵便番号 %>
        <%= f.text_field :postcode, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :住所 %>
        <%= f.text_field :address, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :電話番号 %>
        <%= f.telephone_field :phone_number, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>
    <div>
      <%= link_to confirm_customers_path, class: "btn btn-lg btn-secondary" do %>
        <i class="fas fa-user-cog">退会する</i>
      <% end %>
    </div>
  </div>
</div>