<div class="container">
  <div class="m-md-2"><br></div>
  <div class="row">
    <div class="col-md-2"></div>
    <h4 class="col-md-2 mx-auto text-center">
      <strong>商品新規登録</strong>
    </h4>

    <div class="col-md-8"></div>
  </div>

  <div class="m-md-2"><br></div>

  <%= form_with model: @item, url: admin_items_path do |f| %>
    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"><%= f.label :image, '商品画像' %></div>
      <div class="col-md-8"><%= f.file_field :image, accept: "image/*", required: true %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"><%= f.label :name, '商品名' %></div>
      <div class="col-md-8"><%= f.text_field :name, placeholder: "商品名", required: true, size: "44" %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"><%= f.label :introduction, '商品説明' %></div>
      <div class="col-md-8"><%= f.text_area :introduction, placeholder: "ここに説明文を記述します", required: true, size: "46x10" %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"><%= f.label :genre_id, 'ジャンル' %></div>
      <div class="col-md-8"><%= f.collection_select :genre_id, @genres, :id, :genre_name, prompt: "-- 選択してください --", required: true, class: "w-50" %></div>
    </div>
    <!--:name-->

    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"><%= f.label :price, '税抜価格' %></div>
      <div class="col-md-8"><%= f.number_field :price, min: 0, placeholder: "1000", required: true, class: "w-50" %>円</div>
    </div>

    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-2 text-left">販売ステータス</div>
      <div class="col-md-7">
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, '販売中' %>

        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, '販売停止中' %>
      </div>
    </div>
    <div class="row">
      <div class="action center-block mx-auto">
      <%= f.submit '新規登録', class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

    </div>
  </div>
</div>