<h4>注文履歴一覧</h4>

<table class="table">
  <thead>
    <tr>
      <td>注文日</td>
      <td>配送先</td>
      <td>注文商品</td>
      <td>支払金額</td>
      <td>ステータス</td>
      <td>注文詳細</td>
    </tr>
  </thead>
  <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td><%= l order.created_at %></td>
        <td>
          <%= order.shipping_postal_code %><br>
          <%= order.shipping_address %><br>
          <%= order.shipping_name %>
        </td>
        <td><%= order.items.all %></td>
        <td><%= order.total %></td>
        <td><%= order.order_status_i18n %></td>
        <td><%= link_to "表示する", order_path(order.id), class:"btn btn-info" %></td>
      </tr>
    </tbody>
  <% end %>
</table>