<% items.each do |item| %>
  <%= link_to item_path(item.id) do %>
    <div class="col-3">
      <div class="card m-1">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size: '200x200', class:"card-img-top" %>
        <% end %>
        <div class="card-body">
          <P class="card-title"><%= item.name %></P>
          <P class="card-title">￥<%= item.add_tax_price.to_s(:delimited) %></P>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
