<div class="row mx-5 mt-4">
  <div class="col-2">
    <%= render 'public/genres/index_window', genres: @genres %>
  </div>

  <div class="col-9 ml-5">
    <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>
      <figure class="col-10 figure m-1 d-flex flex-row">
        <%= image_tag @item.image, size:'350x250', class:"figure-img" %>
        <div class="offset-1 d-flex flex-column">
          <h5 class="text-nowrap"><strong><%= @item.name %></strong></h5>

          <h5 class="text-nowrap"><%= @item.introduction %></h5>

          <h5 class="mt-5"><strong>￥<%= @item.add_tax_price.to_s(:delimited) %></strong>(税込)</h5>

          <div class="d-flex flex-row mt-5">
            <div>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :quantity, *[1..10], {}, class:"form-control d-inline-block" %>
            </div>
              <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
          </div>
        </div>
      </figure>
    <% end %>
  </div>
</div>